<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="Medic Apparels" />
  <meta name="keywords" content="Medic Apparels" />
  <meta name="author" content="Medic Apparels" />

  <title>Configure About - Medic Apparels</title>
  <meta name="description"
    content="Find the perfect medical apparel for your profession at Medical Apparels. We offer a wide range of comfortable and stylish medical scrubs, lab coats, shoes, and more. Browse our collection and discover the perfect fit for your needs. Shop now and experience the comfort and quality of our medical apparel.">
  <meta name="keywords" content="Medical, Clothing, Medical scrubs,
  Lab coats,
  Medical uniforms,
  Nurse uniforms,
  Medical shoes,
  
  Antimicrobial scrubs,
  Uniform embroidery,
  Custom medical apparel,
  Scrub caps">
  <meta name="author" content=Veedsify">
  <meta name="robots" content="index,follow">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="Medical Apparels">
  <meta property="og:description"
    content="Find the perfect medical apparel for your profession at Medical Apparels. We offer a wide range of comfortable and stylish medical scrubs, lab coats, shoes, and more. Browse our collection and discover the perfect fit for your needs. Shop now and experience the comfort and quality of our medical apparel.">
  <meta property="og:url" content="<%- siteLink %>">
  <meta property="og:image" content="<%- siteData.SITE_LOGO %>">
  <meta property="og:type" content="website">

  <!-- Facebook Meta Tags -->
  <meta property="og:title" content="Medical Apparels">
  <meta property="og:description"
    content="Find the perfect medical apparel for your profession at Medical Apparels. We offer a wide range of comfortable and stylish medical scrubs, lab coats, shoes, and more. Browse our collection and discover the perfect fit for your needs.">
  <meta property="og:url" content="<%- siteLink %>" <meta property="og:image" content="<%- siteData.SITE_LOGO %>">
  <meta property="og:type" content="website">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:title" content="Medical Apparels">
  <meta name="twitter:description"
    content="Find the perfect medical apparel for your profession at Medical Apparels. We offer a wide range of comfortable and stylish medical scrubs, lab coats, shoes, and more. Browse our collection and discover the perfect fit for your needs.">
  <meta name="twitter:url" content="<%- siteLink %>">
  <meta name="twitter:image" content="<%- siteData.SITE_LOGO %>">
  <meta name="twitter:card" content="summary_large_image">

  <!-- App favicon -->
  <link rel="shortcut icon" href="<%- siteData.SITE_LOGO %>" />

  <!-- App css -->
  <link href="/ADMIN/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="/ADMIN/css/icons.css" rel="stylesheet" type="text/css" />
  <link href="/ADMIN/css/metisMenu.min.css" rel="stylesheet" type="text/css" />
  <link href="/ADMIN/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <!-- Top Bar Start -->
  <%- include('includes/nav-bar', {"user": user}) %>
    <!-- Top Bar End -->

    <div class="page-wrapper">
      <!-- Page Content-->
      <div class="page-content">
        <div class="container-fluid">
          <!-- Page-Title -->
          <div class="row">
            <div class="col-sm-12">
              <div class="page-title-box">
                <div class="float-right">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                      <a href="javascript:void(0);">Medic Apparels</a>
                    </li>
                    <li class="breadcrumb-item">
                      <a href="javascript:void(0);">Configuration</a>
                    </li>
                    <li class="breadcrumb-item active">About Page</li>
                  </ol>
                  <!--end breadcrumb-->
                </div>
                <!--end /div-->
                <h4 class="page-title">About Page</h4>
              </div>
              <!--end page-title-box-->
            </div>
            <!--end col-->
          </div>
          <!--end row-->

          <div class="row">
            <div class="col-sm-12">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title mb-3">
                    About Page Content:
                  </h4>

                  <form action="" class="row" id="aboutPageform">
                    <div class="form-group col-md-6">
                      <label class="d-block">
                        Page Title:
                        <input type="text" name="aboutTitle" class="form-control w-100"
                          value="<%- content.PAGE_TITLE %>" id="aboutTitle">
                    </div>
                    <div class="form-group col-md-6">
                      <label class="d-block">
                        Page Image:
                        <input type="file" name="aboutmage" class="form-control w-100" value="<%- content.PAGE_IMAGE %>"
                          id="aboutImage">
                      </label>
                    </div>
                    <textarea type="text" name="aboutContent" id="elm1" class="form-control w-100 cc" minlength="5"
                      maxlength="3000"></textarea>
                    <button type="submit" class="btn btn-soft-blue w-100 d-block mt-2">
                      <i class="fa fa-save"></i>
                      save
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">
                    Team Members
                  </h4>
                  <div class="row  mb-5">
                    <div class="d-flex justify-content-end w-100">
                      <button id="add-team" class="btn btn-primary btn-sm">Add Member <i
                          class="dripicons-plus"></i></button>
                    </div>
                  </div>
                  <div class="row">
                    <% for(team of teams){ %>
                      <div class="col-sm-6 col-md-4 col-lg-3 ">
                        <div class="d-flex flex-column border border-warning">
                          <img src="<%- team.TEAM_IMAGE  %>" style="aspect-ratio: 9/12;" class="img=fluid ob-fit"
                            alt="">
                          <div class="px-3">
                            <h3><%- team.TEAM_NAME %></h3>
                            <p><%- team.TEAM_ROLE %></p>
                          </div>
                          <button class="btn btn-soft-danger removeTeam" data-id="<%- team.TEAM_ID %>">Remove
                            Member</button>

                        </div>
                      </div>
                      <% } %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- end page title end breadcrumb -->
        </div>
        <!-- container -->
      </div>
      <!-- end page content -->
      <footer class="footer text-center text-sm-left">
        <div class="boxed-footer">
          &copy;
          <script>
            document.write(new Date().getFullYear());
          </script>
          Medic Apparels
          <span class="text-muted d-none d-sm-inline-block float-right">Crafted with <i
              class="mdi mdi-heart text-danger"></i> by
            <a href="http://veedsify.com" target="_blank">Veedsify</a< /span>
        </div>
      </footer>
      <!--end footer-->
    </div>
    <!-- end page-wrapper -->

    <!-- jQuery  -->
    <script src="/ADMIN/js/jquery.min.js"></script>
    <script src="/ADMIN/js/bootstrap.bundle.min.js"></script>
    <script src="/ADMIN/js/metisMenu.min.js"></script>
    <script src="/ADMIN/js/waves.min.js"></script>
    <script src="/ADMIN/js/jquery.slimscroll.min.js"></script>
    <script src="/CUSTOM/js/axios.min.js"></script>
    <script src="/CUSTOM/js/sweetalert.form.js"></script>
    <script src="/CUSTOM/js/sweetalert.min.js"></script>
    <script>const userRole = "<%- user.ROLE %>";</script>
    <script src="/ADMIN/plugins/tinymce/tinymce.min.js"></script>
    <script src="/ADMIN/pages/jquery.form-editor.init.js"></script>
    <script>
      // Get a reference to the editor instance
      var editor = tinymce.get('elm1');


      tinymce.init({
        selector: 'textarea',
        setup: function (editor) {
          editor.on('init', function () {
            editor.setContent(`<%- content.PAGE_CONTENT %>`);
          });
        }
      });

    </script>
    <!-- App js -->
    <script src="/ADMIN/js/app.js"></script>
    <script src="/CUSTOM/js/adminScript.js"></script>
</body>

</html>