<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title><%- product.PRODUCT_NAME %> - <%- siteData.SITE_NAME %></title>
  <meta name="description"
    content="<%- siteData.SITE_NAME %> Shop now and experience the comfort and quality of our medical apparel.">
  <meta name="keywords" content="Medical, Clothing, Medical scrubs,
  Lab coats,
  Medical uniforms,
  Nurse uniforms,
  Medical shoes,
  
  Antimicrobial scrubs,
  Uniform embroidery,
  Custom medical apparel,
  Scrub caps">
  <meta name="author" content="Veedsify">
  <meta name="robots" content="index,follow">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="Medical Apparels">
  <meta property="og:description"
    content="<%- siteData.SITE_NAME %> Shop now and experience the comfort and quality of our medical apparel.">
  <meta property="og:url" content="<%- siteLink %>">
  <meta property="og:image" content="<%- siteData.SITE_LOGO %>">
  <meta property="og:type" content="website">

  <!-- Facebook Meta Tags -->
  <meta property="og:title" content="Medical Apparels">
  <meta property="og:description" content="<%- siteData.SITE_FOOTER_DESC %>">
  <meta property="og:url" content="<%- siteLink %>" <meta property="og:image" content="<%- siteData.SITE_LOGO %>">
  <meta property="og:type" content="website">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:title" content="Medical Apparels">
  <meta name="twitter:description" content="<%- siteData.SITE_NAME %>">
  <meta name="twitter:url" content="<%- siteLink %>">
  <meta name="twitter:image" content="<%- siteData.SITE_LOGO %>">
  <meta name="twitter:card" content="summary_large_image">

  <!-- App favicon -->
  <link rel="shortcut icon" href="<%- siteData.SITE_LOGO %>" />

  <!-- App css -->
  <link href="/ADMIN/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="/ADMIN/css/icons.css" rel="stylesheet" type="text/css" />
  <link href="/ADMIN/css/metisMenu.min.css" rel="stylesheet" type="text/css" />
  <link href="/ADMIN/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <!-- Top Bar Start -->
  <%- include('includes/nav-bar', {"user": user}) %>
    <!-- Top Bar End -->

    <div class="page-wrapper">
      <!-- Page Content-->
      <div class="page-content">
        <div class="container-fluid">
          <!-- Page-Title -->
          <div class="row">
            <div class="col-sm-12">
              <div class="page-title-box">
                <div class="float-right">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                      <a href="javascript:void(0);"><%- siteData.SITE_NAME %></a>
                    </li>
                    <li class="breadcrumb-item">
                      <a href="javascript:void(0);">Product</a>
                    </li>
                    <li class="breadcrumb-item active">Procuct Detail</li>
                  </ol>
                  <!--end breadcrumb-->
                </div>
                <!--end /div-->
                <h4 class="page-title">Procuct Detail</h4>
              </div>
              <!--end page-title-box-->
            </div>
            <!--end col-->
          </div>
          <!--end row-->
          <!-- end page title end breadcrumb -->
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-6">
                      <img src="<%- product.MAIN_IMAGE %>" alt="" class="mx-auto w-100 d-block ob-fit" height="400" />
                    </div>
                    <!--end col-->
                    <div class="col-lg-6 align-self-center">
                      <div class="single-pro-detail">
                        <p class="mb-1"><%- product.PRODUCT_CATEGORY %></p>
                        <div class="custom-border mb-3"></div>
                        <h3 class="pro-title"><%- product.PRODUCT_NAME %></h3>
                        <p><%- product.PRODUCT_DESCRIPTION %></p>
                        <strong>Product Size:</strong>
                        <br>
                        <% JSON.parse(product.PRODUCT_SIZE).forEach( size=>{
                          if( size && size !== 'null') {%>
                          <%- size %>,
                            <% } }) %>
                              <h2 class="pro-price">
                                <%- product.PRODUCT_CURRENCY %><%- product.PRODUCT_PRICE.toLocaleString()%>
                              </h2>
                              <h6 class="text-muted font-13">Features :</h6>
                              <ul class="list-unstyled pro-features border-0">
                                <li>
                                  It is a long established fact that a reader will be
                                  distracted.
                                </li>
                                <li>
                                  Contrary to popular belief, Lorem Ipsum is not text.
                                </li>
                                <li>
                                  There are many variations of passages of Lorem.
                                </li>
                              </ul>
                              <div class="d-flex align-items-center">
                                <h6 class="text-muted font-13 d-inline-block align-middle mr-2">
                                  Color :
                                </h6>
                                <% JSON.parse(product.PRODUCT_COLOR).forEach((color)=> { %>
                                  <% if (color !==null) { %>
                                    <span class="d-inline-block rounded round-cat product-<%- color %>"
                                      style="font-size: 5.5em;">&#x2022;</span>
                                    <% } %>
                                      <% }) %>
                              </div>
                      </div>
                    </div>
                    <!--end col-->
                  </div>
                  <!--end row-->
                </div>
                <!--end card-body-->
              </div>
              <!--end card-->
            </div>
            <!--end col-->
          </div>
          <!--end row-->
          <!--end row-->
        </div>
        <!-- container -->
      </div>
      <!-- end page content -->
      <footer class="footer text-center text-sm-left">
        <div class="boxed-footer">
          &copy;
          <script>
            document.write(new Date().getFullYear());
          </script>
          <%- siteData.SITE_NAME %>
            <span class="text-muted d-none d-sm-inline-block float-right">Crafted with <i
                class="mdi mdi-heart text-danger"></i> by
              <a href="http://veedsify.com" target="_blank">Veedsify</a< /span>
        </div>
      </footer>
      <!--end footer-->
    </div>
    <!-- end page-wrapper -->

    <!-- jQuery  -->
    <script src="/ADMIN/js/jquery.min.js"></script>
    <script src="/ADMIN/js/bootstrap.bundle.min.js"></script>
    <script src="/ADMIN/js/metisMenu.min.js"></script>
    <script src="/ADMIN/js/waves.min.js"></script>
    <script src="/ADMIN/js/jquery.slimscroll.min.js"></script>
    <script src="/CUSTOM/js/axios.min.js"></script>
    <script src="/CUSTOM/js/sweetalert.form.js"></script>
    <script src="/CUSTOM/js/sweetalert.min.js"></script>
    <script>const userRole = "<%- user.ROLE %>"</script>

    <!-- App js -->
    <script src="/ADMIN/js/app.js"></script>
    <script src="/CUSTOM/js/adminScript.js"></script>
</body>

</html>