<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Medic Apparels">
    <meta name="keywords" content="Medic Apparels">
    <meta name="author" content="Medic Apparels">
    <link rel="icon" href="<%- siteData.SITE_LOGO %>" type="image/x-icon">
    <title>Our Blogs - Medical Aparells</title>
    <meta name="description"
        content="Find the perfect medical apparel for your profession at Medical Apparels. We offer a wide range of comfortable and stylish medical scrubs, lab coats, shoes, and more. Browse our collection and discover the perfect fit for your needs. Shop now and experience the comfort and quality of our medical apparel.">
    <meta name="keywords" content="Medical, Clothing, Medical scrubs,
  Lab coats,
  Medical uniforms,
  Nurse uniforms,
  Medical shoes,
  
  Antimicrobial scrubs,
  Uniform embroidery,
  Custom medical apparel,
  Scrub caps">
    <meta name="author" content=Veedsify">
    <meta name="robots" content="index,follow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Medical Apparels">
    <meta property="og:description"
        content="Find the perfect medical apparel for your profession at Medical Apparels. We offer a wide range of comfortable and stylish medical scrubs, lab coats, shoes, and more. Browse our collection and discover the perfect fit for your needs. Shop now and experience the comfort and quality of our medical apparel.">
    <meta property="og:url" content="<%- siteLink %>">
    <meta property="og:image" content="<%- siteData.SITE_LOGO %>">
    <meta property="og:type" content="website">

    <!-- Facebook Meta Tags -->
    <meta property="og:title" content="Medical Apparels">
    <meta property="og:description"
        content="Find the perfect medical apparel for your profession at Medical Apparels. We offer a wide range of comfortable and stylish medical scrubs, lab coats, shoes, and more. Browse our collection and discover the perfect fit for your needs.">
    <meta property="og:url" content="<%- siteLink %>" <meta property="og:image" content="<%- siteData.SITE_LOGO %>">
    <meta property="og:type" content="website">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:title" content="Medical Apparels">
    <meta name="twitter:description"
        content="Find the perfect medical apparel for your profession at Medical Apparels. We offer a wide range of comfortable and stylish medical scrubs, lab coats, shoes, and more. Browse our collection and discover the perfect fit for your needs.">
    <meta name="twitter:url" content="<%- siteLink %>">
    <meta name="twitter:image" content="<%- siteData.SITE_LOGO %>">
    <meta name="twitter:card" content="summary_large_image">


    <!-- Icons -->
    <link rel="stylesheet" type="text/css" href="/assets/css/vendors/font-awesome.css">

    <!--Slick slider css-->
    <link rel="stylesheet" type="text/css" href="/assets/css/vendors/slick.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/vendors/slick-theme.css">

    <!-- Animate icon -->
    <link rel="stylesheet" type="text/css" href="/assets/css/vendors/animate.css">

    <!-- Themify icon -->
    <link rel="stylesheet" type="text/css" href="/assets/css/vendors/themify-icons.css">

    <!-- Bootstrap css -->
    <link rel="stylesheet" type="text/css" href="/assets/css/vendors/bootstrap.css">

    <!-- Theme css -->
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">

    <%- include('includes/head-extra') %>


</head>

<body class="theme-color-1" style="overflow: auto !important;">

    <!-- loader start -->
    <%- include('includes/preloader') %>
        <!-- loader end -->

        <!-- header start -->
        <%- include('includes/header') %>
            <!-- header end -->

            <!-- breadcrumb start -->
            <div class="breadcrumb-section">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="page-title">
                                <h2>blog</h2>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <nav aria-label="breadcrumb" class="theme-breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                                    <li class="breadcrumb-item active">blog</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- breadcrumb End -->


            <!-- section start -->
            <section class="section-b-space blog-page ratio2_3">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <% if(blogs.length>0){ %>
                                <% for(blog of blogs){ %>
                                    <div class="row blog-media">
                                        <div class="col-xl-6">
                                            <div class="blog-left">
                                                <a href="/blog/<%- blog.BLOG_SLUG %>"><img loading="lazy"
                                                        src="<%- blog.BLOG_IMAGE %>"
                                                        class="img-fluid blur-up  lazyload bg-img" alt=""></a>
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="blog-right">
                                                <div class="w-100">
                                                    <h6><%- blog.DATE.toLocaleDateString('en-us',{ month: 'long' ,
                                                            day: '2-digit' , year: 'numeric' }).toUpperCase() %></h6> <a
                                                        href="/blog/<%- blog.BLOG_SLUG %>">
                                                        <h4><%- blog.BLOG_TITLE %></h4>
                                                    </a>
                                                    <ul class="post-social">
                                                        <li>Posted By : <%- blog.BLOG_USER_NAME %></li>
                                                        <li><i class="fa fa-heart"></i> <%- blog.BLOG_LIKES %> Hits</li>
                                                    </ul>
                                                    <p><%- blog.BLOG_DESC %></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <% } %>
                                        <% } else {%>
                                            <h2>No Post Found</h2>
                                            <% } %>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Section ends -->


            <!-- footer start -->
            <%- include('includes/footer.ejs') %>
                <!-- footer end -->

                <!-- tap to top -->
                <div class="tap-top">
                    <div><i class="fa fa-angle-double-up"></i></div>
                </div>
                <!-- tap to top End -->


                <!-- latest jquery-->
                <script src="/assets/js/jquery-3.3.1.min.js"></script>

                <!-- menu js-->
                <script src="/assets/js/menu.js"></script>

                <!-- lazyload js-->
                <script src="/assets/js/lazysizes.min.js"></script>

                <!-- slick js-->
                <script src="/assets/js/slick.js"></script>

                <!-- Bootstrap js-->
                <script src="/assets/js/bootstrap.bundle.min.js"></script>

                <!-- Bootstrap Notification js-->
                <script src="/assets/js/bootstrap-notify.min.js"></script>

                <!-- Theme js-->
                <script src="/CUSTOM/js/axios.min.js"></script>
                <script src="/CUSTOM/js/sweetalert.form.js"></script>
                <script src="/CUSTOM/js/sweetalert.min.js"></script>

                <script src="/assets/js/script.js"></script>
                <script src="/CUSTOM/js/homeScript.js"></script>

                <script>
                    function openSearch() {
                        document.getElementById("search-overlay").style.display = "block";
                    }

                    function closeSearch() {
                        document.getElementById("search-overlay").style.display = "none";
                    }
                </script>

</body>

</html>