<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Medic Apparels">
    <meta name="keywords" content="Medic Apparels">
    <meta name="author" content="Medic Apparels">
    <link rel="icon" href="<%- siteData.SITE_LOGO %>" type="image/x-icon">
    <title><%- info.CATEGORY_NAME %> Category - Medical Aparells</title>
    <meta name="description" content="">
    <meta name="keywords" content="Medical, Clothing, Medical scrubs,
  Lab coats,
  Medical uniforms,
  Nurse uniforms,
  Medical shoes,
  
  Antimicrobial scrubs,
  Uniform embroidery,
  Custom medical apparel,
  Scrub caps">
    <meta name="author" content=Veedsify">
    <meta name="robots" content="index,follow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="<%- info.CATEGORY_NAME %> Category">
    <meta property="og:description" content="<%- info.CATEGORY_NAME %>">
    <meta property="og:url" content="<%- siteLink %>/category/<%- info.CATEGORY_NAME %>">
    <meta property="og:image" content="<%- info.CATEGORY_IMAGE %>">
    <meta property="og:type" content="website">

    <!-- Facebook Meta Tags -->
    <meta property="og:title" content="Medical Apparels">
    <meta property="og:description" content="<%- info.CATEGORY_NAME %>.">
    <meta property="og:url" content="<%- siteLink %>/category/<%- info.CATEGORY_NAME %>" <meta property="og:image"
        content="<%- info.CATEGORY_IMAGE %>">
    <meta property="og:type" content="website">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:title" content="<%- info.CATEGORY_NAME %> Category">
    <meta name="twitter:description" content="<%- info.CATEGORY_NAME %>">
    <meta name="twitter:url" content="<%- siteLink %>/category/<%- info.CATEGORY_NAME %>">
    <meta name="twitter:image" content="<%- info.CATEGORY_IMAGE %>">
    <meta name="twitter:card" content="summary_large_image">


    <!-- Icons -->
    <link rel="stylesheet" type="text/css" href="/assets/css/vendors/font-awesome.css">

    <!--Slick slider css-->
    <link rel="stylesheet" type="text/css" href="/assets/css/vendors/slick.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/vendors/slick-theme.css">

    <!-- Animate icon -->
    <link rel="stylesheet" type="text/css" href="/assets/css/vendors/animate.css">

    <!-- Themify icon -->
    <link rel="stylesheet" type="text/css" href="/assets/css/vendors/themify-icons.css">

    <!-- Bootstrap css -->
    <link rel="stylesheet" type="text/css" href="/assets/css/vendors/bootstrap.css">

    <!-- Theme css -->
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">

    <%- include('includes/head-extra') %>

</head>

<body class="theme-color-1" style="overflow: auto !important;">


    <!-- loader start -->
    <%- include('includes/preloader.ejs') %>
        <!-- loader end -->
        <!-- header start -->
        <%- include('includes/header.ejs') %>
            <!-- header end -->

            <!-- breadcrumb start -->
            <div class="breadcrumb-section">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="page-title">
                                <h2>collection</h2>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <nav aria-label="breadcrumb" class="theme-breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/">home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">collection</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- breadcrumb end -->


            <!-- section start -->
            <section class="section-b-space ratio_asos">
                <div class="collection-wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="collection-content col">
                                <div class="page-main-content">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="top-banner-wrapper">
                                                <h1><%- info.CATEGORY_NAME %></h1>
                                                <strong>Category Id: <%- info.CATEGORY_ID %></strong>
                                                <div class="mt-2">
                                                    <a href="#"><img loading="lazy" src="<%- info.CATEGORY_IMAGE %>"
                                                            class="w-100 ob-fit lazyload"
                                                            style="aspect-ratio: 16/5; object-position: top;"
                                                            alt="<%- info.CATEGORY_NAME %>"></a>
                                                </div>

                                                <div class="top-banner-content small-section">
                                                    <p><%- info.CATEGORY_DESC %></p>
                                                </div>
                                            </div>
                                            <div class="collection-product-wrapper">
                                                <div class="product-top-filter">
                                                    <div class="container-fluid p-0">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="product-filter-content">
                                                                    <div class="search-count">
                                                                        <h5>Showing All <%- info.CATEGORY_NAME %>
                                                                                Products</h5>
                                                                    </div>
                                                                    <div class="collection-grid-view">
                                                                        <ul>
                                                                            <li><img loading="lazy"
                                                                                    src="/assets/images/icon/2.png"
                                                                                    alt=""
                                                                                    class="product-2-layout-view"></li>
                                                                            <li><img loading="lazy"
                                                                                    src="/assets/images/icon/3.png"
                                                                                    alt=""
                                                                                    class="product-3-layout-view"></li>
                                                                            <li><img loading="lazy"
                                                                                    src="/assets/images/icon/4.png"
                                                                                    alt=""
                                                                                    class="product-4-layout-view"></li>
                                                                            <li><img loading="lazy"
                                                                                    src="/assets/images/icon/6.png"
                                                                                    alt=""
                                                                                    class="product-6-layout-view"></li>
                                                                        </ul>
                                                                    </div>
                                                                    <div class="product-page-per-view">
                                                                        <select onchange="location.href = this.value;">
                                                                            <option value="?count=25">25 Products Per
                                                                                Page</option>
                                                                            <option value="?count=50">50 Products Per
                                                                                Page</option>
                                                                            <option value="?count=100">100 Products Per
                                                                                Page</option>
                                                                            <option value="?count=all">All Products
                                                                            </option>
                                                                        </select>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="product-wrapper-grid">
                                                    <div class="row margin-res">
                                                        <% categorys.forEach(product=> { %>
                                                            <div class="col-xl-3 col-6 col-grid-box">
                                                                <div class="product-box">
                                                                    <div class="img-wrapper">
                                                                        <div class="front">
                                                                            <a href="/product/<%- product.SLUG_ID  %>"><img
                                                                                    loading="lazy" loading="lazy"
                                                                                    src="<%- product.MAIN_IMAGE  %>"
                                                                                    class="img-fluid blur-up bg-img"
                                                                                    alt="" /></a>
                                                                        </div>
                                                                        <div class="back">
                                                                            <a href="/product/<%- product.SLUG_ID  %>"><img
                                                                                    loading="lazy" loading="lazy"
                                                                                    src="<%- product.IMAGE_1  %>"
                                                                                    class="img-fluid blur-up bg-img"
                                                                                    alt="" /></a>
                                                                        </div>
                                                                        <div class="cart-info cart-wrap"></div>
                                                                    </div>
                                                                    <div class="product-detail">
                                                                        <div class="rating">
                                                                            <i class="fa fa-star"></i> <i
                                                                                class="fa fa-star"></i>
                                                                            <i class="fa fa-star"></i> <i
                                                                                class="fa fa-star"></i>
                                                                            <i class="fa fa-star"></i>
                                                                        </div>
                                                                        <a href="/product/<%- product.SLUG_ID  %>">
                                                                            <h6><%- product.PRODUCT_NAME %></h6>
                                                                        </a>
                                                                        <h4>
                                                                            <%- product.PRODUCT_CURRENCY %><%-
                                                                                    product.PRODUCT_PRICE.toLocaleString()
                                                                                    %>
                                                                        </h4>
                                                                        <ul class="color-variant">
                                                                            <%
                                                                                JSON.parse(product.PRODUCT_COLOR).forEach((color)=>
                                                                                { %> <% if (color !==null) { %>
                                                                                    <li class="product-<%- color %>">
                                                                                    </li>
                                                                                    <% } %>
                                                                                        <% }) %>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <% }) %>
                                                    </div>
                                                </div>
                                                <div class="product-pagination">
                                                    <div class="theme-paggination-block">
                                                        <div class="container-fluid p-0">
                                                            <div class="row">
                                                                <div class="col-xl-6 col-md-6 col-sm-12">
                                                                    <nav aria-label="Page navigation">
                                                                        <ul class="pagination">
                                                                            <li class="page-item"><a class="page-link"
                                                                                    href="#" aria-label="Previous"><span
                                                                                        aria-hidden="true"><i
                                                                                            class="fa fa-chevron-left"
                                                                                            aria-hidden="true"></i></span>
                                                                                    <span
                                                                                        class="sr-only">Previous</span></a>
                                                                            </li>
                                                                            <li class="page-item active"><a
                                                                                    class="page-link" href="#">1</a>
                                                                            </li>
                                                                            <li class="page-item"><a class="page-link"
                                                                                    href="#">2</a></li>
                                                                            <li class="page-item"><a class="page-link"
                                                                                    href="#">3</a></li>
                                                                            <li class="page-item"><a class="page-link"
                                                                                    href="#" aria-label="Next"><span
                                                                                        aria-hidden="true"><i
                                                                                            class="fa fa-chevron-right"
                                                                                            aria-hidden="true"></i></span>
                                                                                    <span
                                                                                        class="sr-only">Next</span></a>
                                                                            </li>
                                                                        </ul>
                                                                    </nav>
                                                                </div>
                                                                <div class="col-xl-6 col-md-6 col-sm-12">
                                                                    <div class="product-search-count-bottom">
                                                                        <h5>Showing Products 1-24 of 10 Result</h5>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- section End -->


            <!-- footer start -->
            <%- include('includes/footer.ejs') %>
                <!-- footer end -->


                <!-- Quick-view modal popup start-->
                <div class="modal fade bd-example-modal-lg theme-modal" id="quick-view" tabindex="-1" role="dialog"
                    aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                        <div class="modal-content quick-view-modal">
                            <div class="modal-body">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                                <div class="row">
                                    <div class="col-lg-6 col-xs-12">
                                        <div class="quick-view-img"><img loading="lazy" src="/assets/images/pro3/1.jpg"
                                                alt="" class="img-fluid blur-up  lazyload"></div>
                                    </div>
                                    <div class="col-lg-6 rtl-text">
                                        <div class="product-right">
                                            <h2>Women Pink Shirt</h2>
                                            <h3>$32.96</h3>
                                            <ul class="color-variant">
                                                <li class="bg-light0"></li>
                                                <li class="bg-light1"></li>
                                                <li class="bg-light2"></li>
                                            </ul>
                                            <div class="border-product">
                                                <h6 class="product-title">product details</h6>
                                                <p>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem
                                                    accusantium
                                                    doloremque laudantium</p>
                                            </div>
                                            <div class="product-description border-product">
                                                <div class="size-box">
                                                    <ul>
                                                        <li class="active"><a href="javascript:void(0)">s</a></li>
                                                        <li><a href="javascript:void(0)">m</a></li>
                                                        <li><a href="javascript:void(0)">l</a></li>
                                                        <li><a href="javascript:void(0)">xl</a></li>
                                                    </ul>
                                                </div>
                                                <h6 class="product-title">quantity</h6>
                                                <div class="qty-box">
                                                    <div class="input-group"><span class="input-group-prepend"><button
                                                                type="button" class="btn quantity-left-minus"
                                                                data-type="minus" data-field=""><i
                                                                    class="ti-angle-left"></i></button> </span>
                                                        <input type="text" name="quantity"
                                                            class="form-control input-number" value="1"> <span
                                                            class="input-group-prepend"><button type="button"
                                                                class="btn quantity-right-plus" data-type="plus"
                                                                data-field=""><i
                                                                    class="ti-angle-right"></i></button></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-buttons"><a href="#" class="btn btn-solid">add to
                                                    cart</a> <a href="#" class="btn btn-solid">view detail</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Quick-view modal popup end-->

                <!-- tap to top start -->
                <div class="tap-top">
                    <div><i class="fa fa-angle-double-up"></i></div>
                </div>
                <!-- tap to top end -->


                <!-- latest jquery-->
                <script src="/assets/js/jquery-3.3.1.min.js"></script>

                <!-- menu js-->
                <script src="/assets/js/menu.js"></script>

                <!-- lazyload js-->
                <script src="/assets/js/lazysizes.min.js"></script>

                <!-- slick js-->
                <script src="/assets/js/slick.js"></script>

                <!-- Bootstrap js-->
                <script src="/assets/js/bootstrap.bundle.min.js"></script>

                <!-- Bootstrap Notification js-->
                <script src="/assets/js/bootstrap-notify.min.js"></script>

                <!-- Theme js-->
                <script src="/CUSTOM/js/axios.min.js"></script>
                <script src="/CUSTOM/js/sweetalert.form.js"></script>
                <script src="/CUSTOM/js/sweetalert.min.js"></script>

                <script src="/assets/js/script.js"></script>
                <script src="/CUSTOM/js/homeScript.js"></script>

                <script>
                    function openSearch() {
                        document.getElementById("search-overlay").style.display = "block";
                    }

                    function closeSearch() {
                        document.getElementById("search-overlay").style.display = "none";
                    }
                </script>
</body>

</html>