<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <meta name="author" content="<%- siteData.SITE_NAME %>">
    <link rel="icon" href="<%- siteData.SITE_LOGO %>" type="image/x-icon">
    <title>Email Success - <%- siteData.SITE_NAME %> - <%- siteData.SITE_NAME %></title>
    <meta name="description" content="<%- siteData.SITE_FOOTER_DESC %>">
    <meta name="keywords" content="Medical, Clothing, Medical scrubs,
  Lab coats,
  Medical uniforms,
  Nurse uniforms,
  Medical shoes,
  
  Antimicrobial scrubs,
  Uniform embroidery,
  Custom medical apparel,
  Scrub caps">
    <meta name="author" content="<%-siteData.SITE_NAME %>">
    <meta name="robots" content="index,follow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="<%- siteData.SITE_NAME %>">
    <meta property="og:description" content="<%- siteData.SITE_FOOTER_DESC %>">
    <meta property="og:url" content="<%- siteLink %>">
    <meta property="og:image" content="<%- siteData.SITE_LOGO %>">
    <meta property="og:type" content="website">

    <!-- Facebook Meta Tags -->
    <meta property="og:title" content="<%- siteData.SITE_NAME %>">
    <meta property="og:description" content="<%- siteData.SITE_FOOTER_DESC %>">
    <meta property="og:url" content="<%- siteLink %>">
    <meta property="og:image" content="<%- siteData.SITE_LOGO %>">
    <meta property="og:type" content="website">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:title" content="<%- siteData.SITE_NAME %>">
    <meta name="twitter:description" content="<%- siteData.SITE_FOOTER_DESC %>">
    <meta name="twitter:url" content="<%- siteLink %>">
    <meta name="twitter:image" content="<%- siteData.SITE_LOGO %>">
    <meta name="twitter:card" content="summary_large_image">


    <!-- Icons -->
    <link rel="stylesheet" type="text/css" href="/assets/css/vendors/font-awesome.css">

    <!--Slick slider css-->
    <link rel="stylesheet" type="text/css" href="/assets/css/vendors/slick.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/vendors/slick-theme.css">

    <!-- Animate icon -->
    <link rel="stylesheet" type="text/css" href="/assets/css/vendors/animate.css">

    <!-- Themify icon -->
    <link rel="stylesheet" type="text/css" href="/assets/css/vendors/themify-icons.css">

    <!-- Bootstrap css -->
    <link rel="stylesheet" type="text/css" href="/assets/css/vendors/bootstrap.min.css">

    <!-- Theme css -->
    <link rel="stylesheet" type="text/css" href="/assets/css/style.min.css">

    <%- include('includes/head-extra') %>

</head>

<body class="theme-color-1" style="overflow: auto !important;">

    <%- include('includes/header.ejs') %>

        <!-- breadcrumb start -->
        <div class="breadcrumb-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="page-title">
                            <h2>Confirmation</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- breadcrumb end -->


        <!-- section start -->
        <section class="section-b-space ratio_asos">
            <div class="collection-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="collection-content col">
                            <div class="page-main-content">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="top-banner-wrapper">
                                            <a href="#" class="d-flex justify-content-center"><img
                                                    src="/IMAGES/email-verified.gif" class="img-fluid ob-fit"
                                                    width="300"></a>
                                            <div class="top-banner-content small-section">
                                                <h4 class="m-auto text-center">Email Verified Successfully</h4>
                                                <div class="d-flex mt-3">
                                                    <a href="/login" class="btn btn-solid m-auto text-center">Proceed To
                                                        Login</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- section End -->


        <%- include('includes/footer.ejs') %>

            <!-- tap to top start -->
            <div class="tap-top">
                <div><i class="fa fa-angle-double-up"></i></div>
            </div>
            <!-- tap to top end -->


            <!-- latest jquery-->
            <script src="/assets/js/jquery-3.3.1.min.js"></script>

            <!-- menu js-->
            <script src="/assets/js/menu.js"></script>



            <!-- Bootstrap js-->
            <script src="/assets/js/bootstrap.bundle.min.js"></script>

            <!-- Theme js-->
            <script src="/CUSTOM/js/axios.min.js"></script>
            <script src="/CUSTOM/js/sweetalert.form.js"></script>
            <script src="/CUSTOM/js/sweetalert.min.js"></script>

            <script src="/assets/js/script.min.js"></script>
            <script src="/CUSTOM/js/homeScript.js"></script>

            <script>
                function openSearch() {
                    document.getElementById("search-overlay").style.display = "block";
                }

                function closeSearch() {
                    document.getElementById("search-overlay").style.display = "none";
                }
            </script>
</body>

</html>